main/__pycache__/__init__.cpython-311.pyc
main/__pycache__/main.cpython-311.pyc
myData/__pycache__/__init__.cpython-311.pyc
myData/__pycache__/myData.cpython-311.pyc
myPlots/__pycache__/__init__.cpython-311.pyc
myPlots/__pycache__/myPlots.cpython-311.pyc
