__pycache__/__init__.cpython-39.pyc
__pycache__/__init__.cpython-311.pyc
__pycache__/effective_molar_mass.cpython-311.pyc
__pycache__/main.cpython-39.pyc
__pycache__/main.cpython-311.pyc
__pycache__/plotting.cpython-311.pyc
myPlots/__pycache__/__init__.cpython-311.pyc
myPlots/__pycache__/myPlots.cpython-311.pyc
.gitignore
main/__pycache__/__init__.cpython-39.pyc
main/__pycache__/main.cpython-39.pyc
myData/__pycache__/__init__.cpython-39.pyc
myData/__pycache__/myData.cpython-39.pyc
myPlots/__pycache__/__init__.cpython-39.pyc
myPlots/__pycache__/myPlots.cpython-39.pyc
main/__pycache__/main.cpython-311.pyc
myPrints/__pycache__/__init__.cpython-311.pyc
.gitignore
myPrints/__pycache__/myPrints.cpython-311.pyc
